*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    background-color: black;
    color: blanchedalmond;
    border: 1px solid ;
    border-radius: 5px;
    width: 40em;
    height: 10rem;
    margin-top: 170px;
}
.main{
    display: flex;
    justify-content: center;
}
p{
    padding: 30px 30px 30px 30px;
    font-size: 5rem;
}
.btn{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 30em;
    height: 7em;

}
.ctl{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button{
    width: 6em;
    height: 2em;
    background-color: blanchedalmond;
    border: 1px solid black;
    border-radius: 10px;
}

.continue{
    background-color: black;
    color: blanchedalmond;
}
.start{
    background-color: black;
    color: blanchedalmond;
}
